.add-active-task-form {
    text-align: center;
    display: block;
}

.add-active-task-form label {
    display: block;
}

#id_character {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    width: auto;
}

#id_task {   
    display: block;
    margin: auto;
    width: auto;
}

.btn-primary {
    margin-top: 2em;
    margin-bottom: 2em;
}

.pb-3 {
    text-align: center;
}