{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>TibianusApp - ukończ zadanie</title>
    <link rel="stylesheet" href="{% static 'tibianusapp/css/complete-the-task/complete-the-task.css' %}">
{% endblock %}


{% block content %}
    
    <form action="/tibianusapp/complete-the-task" method="post" class="complete-the-task-form">
        <!-- <div class="radio"> -->
        <div class="mb-3"></div>
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible p-2 pb-3">
                            <a class="close font-weight-normal initialism" data-dismiss="alert" href="#"><samp>×</samp></a> 
                                {{ message }}
                        </div>
                {% endfor %}
            {% endif %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Ukończ zadanie</button>
            
        </div>
    </form>
{% endblock %}




